body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
	margin: auto;
	padding-top: 150px;
	width: 70%;
}

.registrationPanel {
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.registrationPanel * {
	min-width: 150px;
	max-width: 300px;
}